

body {
  font-family: Arial, sans-serif;
  background-image:url(/calculadora.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
}




h1 {
  text-align: center;
  margin-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#070228;
  font-weight: bold;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #030f46;
  font-weight: bold;
}

.calculadora {
  width: 314px;
  margin: 0px auto;
  background-color: #010f39;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #faf7f7;
}

input[type="button"]:last-child {
  margin-right: 0;
}
